$mainColor: #d3baa8;

.btn {
  margin: 0 auto;
  padding: 20px 0px;
  text-align: center;
}

.result {
  font-size: 32px;
  color: $mainColor;
  text-align: center;
  font-weight: bold;
}

.center {
  text-align: center;
}